body{
    margin: 0;
    padding: 0;
}

#app_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#app_menu{
    width: 4%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    background-color: #00bfff;
}

#app_center{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.box_menu{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 1vh 0;
}

.title_box{
    border-bottom: 0.4vh solid white;
}

.btn_menu:hover{
    cursor: pointer;
    background-color: #0191e4;
}

.title_container{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 7vh;
    font-weight: bold;
    text-decoration: underline;
}

.center_container{
    width: 90%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    background-color: rgb(214, 214, 214);
    border-radius: 1vh;
    overflow: auto;
}

.box_result{
    width: 20%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
    background-color: whitesmoke;
    margin: 1vh 3vh;
    border-radius: 1vh;
}
.box_result:hover{
    background-color: white;
}

.internalBox{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgBox{
    width: 20%;
    height: 5vh;
}

.totalText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vh;
}

.pass_container{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.pass_info{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 1vh auto;
}

.pass_label{
    display: inline-block;
    width: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;
    text-align: left;
}

.pass_select{
    width: 40%;
    height: 4vh;
    outline: 0;
    border: none;
    border-radius: 1vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.8vh;
    text-align: left;
}

.pass_btn{
    width: 15%;
    height: 5vh;
    border: none;
    border-radius: 1vh;
    outline: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vh;
    text-align: left;
    margin: 1vh 1vh;
    text-align: center;
    color: white;
}

.saveColor{
    background-color: rgb(104, 184, 104);
}

.saveColor:hover{
    cursor: pointer;
    background-color: rgb(14, 177, 14);
}

.clearColor{
    background-color: rgb(248, 128, 128);
}

.clearColor:hover{
    cursor: pointer;
    background-color: rgb(241, 40, 40);
}

.message_label{
    width: 100%;
    text-align: center;
    color: rgba(0,0,0,0.7);
}

.groups_container{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.groupsSelect{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.iconImg{
    width: 32px;
    height: 32px;
    margin: 1vh 2vh;
    transition: width 1s, height  1s;
}

.iconImg:hover{
    cursor: pointer;
    width: 64px;
    height: 64px;
    transition: width 1s, height  1s;
}

.iconSelect{
    margin-right: 5vh;
}

.groupInfo{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.groupInputs{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 2vh auto;
}

.imgSelectedShow{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.showIcon{
    width: 128px;
    height: 128px;
}

.searchContainer{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.inputFilter{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.searchInput{
    width: 40%;
    height: 4vh;
    outline: 0;
    border: none;
    border-radius: 1vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.8vh;
    text-align: left;
    margin: 0 1vh;
    text-align: center;
}

.searchButton{
    width: 15%;
    height: 4.5vh;
    outline: 0;
    border: none;
    border-radius: 1vh;
    background-color: rgb(56, 56, 238);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vh;
}

.searchButton:hover{
    cursor: pointer;
    background-color: rgb(50, 50, 209);
}

.resultFilter{
    width: 100%;
    max-height: 78vh;
    display: inline-block;
    overflow-y: scroll;
    border-top: 0.3vh solid black;
}

.boxResult{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow: hidden;
}

.boxColumn{
    width: 20%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vh;
}

.boxTitle{
    background-color: whitesmoke;
    font-size: 2.8vh;
    font-weight: bold;
}

.searchIcon{
    width: 16px;
    height: 16px;
    margin: 0 0.5vh;
}

.editContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
    visibility: hidden;
}

.infoEditContainer{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: whitesmoke;
    position: relative;
    border-radius: 1vh;
}

.editBoxTitle{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 8vh;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5vh;
}

.infoEditBox{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 2vh auto;
}

#edit_id{
    background-color: transparent;
}